{% load static %}
<form method="POST">
    {% csrf_token %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <input type="text" name="nombre" placeholder="Nombre">

    <input type="text" name="apellido" placeholder="Apellido">
    
    <input type="text" name="cedula" placeholder="Cedula">

    <input type="email" name="correo" placeholder="Correo">

    <input type="password" name="password" placeholder="Contraseña">

    <input type="text" name="telefono" placeholder="Telefono">

    <input type="text" name="direccion" placeholder="Direccion">

    <input type="text" name="ciudad" placeholder="Ciudad">

    <input type="text" name="pais" placeholder="Pais">

    <input type="number" name="edad" placeholder="Edad">

    <button type="submit">
        Guardar
    </button>
</form>