{% load static %}

<h1>Detalle de tarea</h1>
<link rel="stylesheet" href="{% static 'style.css' %}">

<hr>

<h3>Titulo</h3>

<p>

    {{ tarea.titulo }}

</p>

<hr>

<h3>Descripcion</h3>

<p>

    {{ tarea.descripcion }}

</p>

<hr>

<h3>Estado</h3>

<p>

    {{ tarea.estadoTarea }}

</p>

<hr>

<h3>Prioridad</h3>

<p>

    {{ tarea.prioridad }}

</p>

<hr>

<h3>Fecha entrega</h3>

<p>

    {{ tarea.fechaEntrega }}

</p>

<hr>

<h3>ID Usuario Responsable</h3>

<p>

    {{ tarea.usuarioResponsableId }}

</p>

<hr>

<a href="/tareas/listar/">

    Volver

</a>