{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Editar Tarea</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="contenedor">
        <h1>Editar Tarea</h1>

        <form method="POST">
            {% csrf_token %}

            <p>
                <label>Título</label><br>
                <input type="text" name="titulo" value="{{ tarea.titulo }}">
            </p>

            <p>
                <label>Descripción</label><br>
                <textarea name="descripcion">{{ tarea.descripcion }}</textarea>
            </p>

            <p>
                <label>Estado</label><br>
                <select name="estadoTarea">
                    <option value="pendiente" {% if tarea.estadoTarea == 'pendiente' %}selected{% endif %}>Pendiente</option>
                    <option value="enProceso" {% if tarea.estadoTarea == 'enProceso' %}selected{% endif %}>En Proceso</option>
                    <option value="completada" {% if tarea.estadoTarea == 'completada' %}selected{% endif %}>Completada</option>
                </select>
            </p>

            <button type="submit">Actualizar tarea</button>
            <a href="{% url 'listarTareas' %}">Cancelar</a>
        </form>
    </div>
</body>
</html>