{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">

<h1>Dashboard</h1>

<hr>

<h2>Usuario</h2>

<a href="{% url 'perfilUsuario' %}">Ver usuarios</a><br>

<hr>

<h2>Tareas</h2>

<a href="{% url 'listarTareas' %}">Ver tareas</a><br>
<a href="{% url 'crearTarea' %}">Crear tarea</a>

<hr>

<h2>Agenda</h2>


<a href="{% url 'listar_agendas' %}">Ver agendas</a><br>
<a href="{% url 'listarTareas' %}">Crear agenda</a>

<hr>

<h2>Reportes</h2>

<a href="{% url 'generarReporte' %}">Generar reporte</a><br>
<a href="{% url 'historialReportes' %}">Ver historial</a><br>

<hr>

<a href="{% url 'logout' %}">Cerrar sesión</a>