{% load static %}
<h1>Lista de Usuarios</h1>
<link rel="stylesheet" href="{% static 'style.css' %}">

<table border="1">

    <tr>
        <th>ID</th>
        <th>Cedula</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>


    {% for usuario in usuarios %}

    <tr>
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.cedula }}</td>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.apellido }}</td>
        <td>{{ usuario.correo }}</td>

    {% endfor %}

</table>